{% load staticfiles %}

{% block content %}
<ol>
    <a href="{% url 'avion_nuevo' %}"><li>Nuevo Avion</li></a>
</ol>

    <table>
        <tr>
        	<th>Numero de Boleto</th>
        	<th>Clase</th>
        	<th>Pasajero</th>
          <th>Vuelo</th>
          <th></th>
          <th></th>
        </tr>
        {% for boleto in p %}
        <tr>
        	<td>
            {{ boleto.pk }}
          </td>
          <td>
            {{ boleto.clase }}
          </td>
          <td>
            <a href="{% url 'ver_pasajero' pk=boleto.pasajero.pk %}">{{ boleto.pasajero.nombre }}</a>
          </td>
          <td>
            <a href="{% url 'ver_vuelo' pk=boleto.vuelo.pk %}">{{ boleto.vuelo.destino }}</a>
          </td>
          <td>
            <a href="{% url 'ver_boleto' pk=boleto.pk %}">Ver</a>
          </td>
          <td>
            <a href="{% url 'boleto_editar' pk=boleto.pk %}">Editar</a>
          </td>
        </tr>
        {% endfor %}
    </table>




{% endblock content %}
