{% extends "aerolinea/blank.html" %}
{% load staticfiles %}
{% block main %}



<!-- Example DataTables Card-->
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> Data Table Example</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Número de Vuelo</th>
            <th>Destino</th>
            <th>Avión</th>
            <th>Opcion 1</th>
            <th>Opcion 2</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Número de Vuelo</th>
            <th>Destino</th>
            <th>Avión</th>
            <th>Opcion 1</th>
            <th>Opcion 2</th>
          </tr>
        </tfoot>
        <tbody>
          {% for vuelo in p %}
          <tr>
          	<td>
              {{ vuelo.pk }}
            </td>
            <td>
              {{ vuelo.destino }}
            </td>
            <td>
              <a href="{% url 'ver_avion' pk=vuelo.avion.pk %}">{{ vuelo.avion.nombre }}</a>
            </td>
            <td>
              <a href="{% url 'ver_vuelo' pk=vuelo.pk %}">Ver</a>
            </td>
            <td>
              <a href="{% url 'vuelo_editar' pk=vuelo.pk %}">Editar</a>
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
</div>

<ol>
    <a href="{% url 'avion_index' %}"><li>Aviones</li></a>
    <a href="{% url 'pasajero_index' %}"><li>Pasajeros</li></a>
      <a href="{% url 'boleto_index' %}"><li>Boletos</li></a>
    <a href="{% url 'vuelo_nuevo' %}"><li>Nuevo Vuelo</li></a>
</ol>


{% endblock %}
